//Main background
$very-dark-blue: hsl(233, 47%, 7%);

//Card background 
$dark-desaturated-blue: hsl(244, 38%, 16%);

//Accent
$soft-violet: hsl(277, 64%, 61%);

//Main heading, stats
$white: hsl(0, 0%, 100%);

//Main paragraph
$slightly-transparent-white-mp: hsla(0, 0%, 100%, 0.75);

//stat headings
$slightly-transparent-white-sh: hsla(0, 0%, 100%, 0.6);